venv/
.venv/
env/
pycache/
*.py[cod]
.env
*.db
*.sqlite3


.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/



android/app/build
android/app/local.properties
android/key.properties
android/bundle
android/.gradle
**/generated/

ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Pods/
DerivedData/



.vscode/
.idea/
*.iml
*.log
.DS_Store
Thumbs.db



venv311/